<section class="contact section" id="contact">
  <div class="container">
    <div class="row">

      <div class="ml-auto col-lg-5 col-md-6 col-12">
        <h2 class="mb-4 pb-2" data-aos="fade-up" data-aos-delay="200">Pregunta lo queras sobre nuestros servicios </h2>

        <form action="#" method="post" class="contact-form webform" data-aos="fade-up" data-aos-delay="400" role="form">
          <input type="text" class="form-control" name="cf-name" placeholder="Name">
          <input type="email" class="form-control" name="cf-email" placeholder="Email">
          <textarea class="form-control" rows="5" name="cf-message" placeholder="Message"></textarea>
          <button type="submit" class="form-control" id="submit-button" name="submit">Send Message</button>
        </form>
      </div>

      <div class="mx-auto mt-4 mt-lg-0 mt-md-0 col-lg-5 col-md-6 col-12">
        <p data-aos="fade-up" data-aos-delay="800"><i class="fa fa-map-marker mr-1"></i> Sucre 35 Ramos Mejia , Buenos aires</p>
        <!-- How to change your own map point
                    1. Go to Google Maps
                    2. Click on your location point
                    3. Click "Share" and choose "Embed map" tab
                    4. Copy only URL and paste it within the src="" field below
                    -->
        <div class="google-map" data-aos="fade-up" data-aos-delay="900">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.5650728249775!2d-58.556531684621746!3d-34.64042968044997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc809d8a4e81f%3A0x1b6ae804850a4655!2sASA%2C%20Sucre%2035%2C%20B1704%20Ramos%20Mej%C3%ADa%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1633860188671!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>

    </div>
  </div>
</section>