<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <title>Document</title>
</head>

<body>
    <main class="container">
        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Direccion</th>
                <th scope="col">Fecha Nacimiento</th>
              </tr>
            </thead>
            <tbody>
              <% usuarios.forEach(function(user){ %>
                <%- include('../partial/tableUser', {user: user}) %>
              <% }); %>
            </tbody>
          </table>
    </main>
   
</body>

</html>
